{% extends 'base.html.twig' %}
{% block body %}


    <div class="d-flex justify-content-around">
        
        <div class="w-50">
            <h1 class="EdT">Nos actualités</h1>
            <div class="CaseEdT">
                <img class="img-news center" src="{{ asset('img/photoUkraine') }}" />
                <img class="img-news center" src="{{ asset('img/photoStDenis.jfif') }}" />
            </div>
        </div>

        <div class="w-50">
            <h1 class="Actus">Institut Supérieur Saint Denis</h1>
            <img class="img-stdenis" src="{{ asset('img/logoStDenis.htm') }}" />
                    
            <h1 class="DocsRecents">Documents récemment ouverts</h1>
            <div class="CaseDocsRecents">
                </div>
            </div>
            
        </div>

    </div>


{% endblock %}
