{% extends 'base.html.twig' %}
{% block body %}

    <link rel="stylesheet" href="css/style.css">

    <h1 class="EdT">Emploi du temps</h1>
    <h1 class="Actus">Nos actualités</h1>
    
    <div class="CaseEdT"></div>
    <div class="CaseActus"></div>

    <h1 class="CreateRecents">Déposés récemment</h1>
    <h1 class="OpenRecents">Ouverts récemment</h1>

    <div class="CaseCreateRecents"></div>
    <div class="CaseOpenRecents"></div>

{% endblock %}
