{% extends 'base.html.twig' %}
{% block body %}


    <div class="d-flex justify-content-around">
        
        <div class="w-50">
            <h1 class="EdT">Emploi du temps</h1>
            <div class="CaseEdT">
                <table>
                    <tr>
                        <th></th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                    </tr>

                    <tr>
                        <td>8h</td>
                        <td>
                            <div class="card">
                                <p>Maths</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>Français</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>9h</td>
                        <td>
                            <div class="card">
                                <p>Maths</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>Français</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>10h</td>
                        <td>
                            <div class="card">
                                <p>Histoire</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>Anglais</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>11h</td>
                        <td>
                            <div class="card">
                                <p>Histoire</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>Anglais</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>12h</td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>13h</td>
                        <td>
                            <div class="card">
                                <p>EPS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>Economie</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>14h</td>
                        <td>
                            <div class="card">
                                <p>EPS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>Economie</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>15h</td>
                        <td>
                            <div class="card">
                                <p>EPS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>DS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>16h</td>
                        <td>
                            <div class="card">
                                <p>EPS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>DS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>17h</td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>DS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>18h</td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>DS</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <p>_</p>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="w-50">
            <h1 class="Actus">Nos actualités</h1>
            <div class="CaseActus">
                
        </div>

            <div>
                <div class="d-flex justify-content-around">
                    <div class="w-50">
                        <h1 class="CreateRecents">Déposés récemment</h1>
                        <div class="CaseCreateRecents">
                            
                        </div>
                    </div>

                    <div class="w-50">
                        <h1 class="OpenRecents">Ouverts récemment</h1>
                        <div class="CaseOpenRecents">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>


{% endblock %}
