{% extends 'base.html.twig' %}
{% block body %}


    <div class="d-flex justify-content-around">
        
        <div class="w-50">
            <h1 class="EdT">Nos actualités</h1>
            <div class="CaseEdT">
                <h2>Collecte de don de sang du 11 au 15 avril 2022 devant l'amphithéâtre</h2>
            </div>
        </div>

        <div class="w-50">
            <h1 class="Actus">Nos actualités</h1>
            <div class="CaseActus">
                
        </div>

            <div>
                <div class="d-flex justify-content-around">
                    <div class="w-50">
                        <h1 class="CreateRecents">Déposés récemment</h1>
                        <div class="CaseCreateRecents">
                            
                        </div>
                    </div>

                    <div class="w-50">
                        <h1 class="OpenRecents">Ouverts récemment</h1>
                        <div class="CaseOpenRecents">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>


{% endblock %}
