{% extends 'base.html.twig' %}
{% block body %}

    <h1>Page HOME</h1>
    {% if not app.user %}
    <h3><a href="{{path("app_login")}}">Se connecter</h3>
    {% else %}
    <h3><a href="{{ path('app_logout') }}">Se déconnecter</h3>
    {% endif %}

{% endblock %}
