{% extends 'base.html.twig' %}
{% block body %}


    <div class="search-wrapper">
        <span class="uil uil-search"></span>
            <input type="search" placeholder="Rechercher">
    </div>

{% endblock %}
