{% extends 'base.html.twig' %}
{% block body %}

    <div class="scroll">

        {% for ressource in ressources %}

            <div class="CaseCours">
                <!--<a href={{ressource}} download={{ressource}}>-->
                    <p>{{ressource.name}}.{{ressource.extension}}</p>
                <!--</a>-->
            </div>

            <br>

        {% endfor %}
    
    </div>

{% endblock %}
