<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EssentialSup</title>
    <link rel="stylesheet" href="{{ asset('css/style_login.css') }}">
  </head>

  <body>

    <div class="center">

      <h1>Vous êtes connecté en tant que {{app.user.nom}} {{app.user.prenom}}</h1>

    </div>
  </body>

</html>