{% extends 'base.html.twig' %}
{% block body %}

  <div class="w-50">

    <h1 class="User">Mes informations</h1>

    <div class="CaseUser">


      <h3>Statut:
      {% if is_granted('ROLE_ADMIN') %}
        Administrateur

      {% elseif is_granted('ROLE_TEACHER') %}
        Enseignant

      {% elseif is_granted('ROLE_ELEVE') %}
        Elève

      {% else %}
        Rôle non défini

      {% endif %}
      </h3>

      <h3>Prénom: {{app.user.prenom}}</h3>
      <h3>Nom: {{app.user.nom}}</h3>
      <h3>Adresse E-mail: {{app.user.email}}</h3>

      <h3>
        <div class="signup_link textcenter">
          <a id="logout" href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
      </h3>

  </div>

</div>

{% endblock %}