<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EssentialSup</title>
    <link rel="stylesheet" href="{{ asset('css/style_login.css') }}">
  </head>

  <body>

    <div class="center">

      <h1>Login</h1>

      <form method="post">

        <div class="txt_field">

          <input type="text" value="{{ last_username }}" required>
          <span></span>
          <label>Adresse Email</label>

        </div>

        <div class="txt_field">

          <input type="password" required>
          <span></span>
          <label>Mot de passe</label>

        </div>

        <div class="pass">Mot de passe oublié ?</div>
        <input type="submit" value="Se connecter">

        <div class="signup_link">
          Pas de compte ? <a id="login" href="{{ path("app_register") }}">Inscrivez-vous</a>
        </div>

      </form>

  </body>

</html>