@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.125rem;
}

a{
    font-size: .938rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card{
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px #88888840;
    padding: 12px;
    border-radius: 6px;
}

.button{
    display: inline-block;
    background-color: #213350;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    text-decoration: none;
    transition: background-color 0.5s;
}

.button:hover{
    background-color: #475c7e;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
  }