body{
  overflow: hidden;
}



.container {
  width: 95%;
  height: 95%;
  margin-top: -1%;
  background-color: white;
  z-index: -10;
}



.MenuGauche {
  position: fixed;
  background: #f3f3f7;
  width: 4%;
  height: 97.5%;
  top: 1%;
  left: 1%;
  float: left;
  text-align: center;
  border-radius: 55px;
}

.lottiefiles-alt, .estate, .search, .folder-open, .setting, .user-circle-menu {
  display: inline-block;
  width: 45%;
  height: auto;
}

.lottiefiles-alt {
  margin-top: 40%;
}

.estate {
  margin-top: 360%;
}

.user-circle-menu {
  margin-top: 400%;
}

.search, .folder-open, .setting {
  margin-top: 45%;
}

.MenuHaut {
  position: fixed;
  display: flex;
  width: 30%;
  height: 6%;
  top: 1%;
  left: 93%;
  float: left;
}

.bell, .user-circle-up, .angle-down {
  width: 6.5%;
  height: auto;
}

.bell, .user-circle-up, .Nom-Prenom, .angle-down {
  display: inline-block;
  text-align: right;
  z-index: 1;
}

.Nom-Prenom {
  position: fixed;
  width: 50%;
  height: auto;
  float: right;
  font-family: Arial;
  font-size: 3vh;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  color: #213350;
  margin-left: -51%;
}

#menu path{
  transition: fill 0.3s;
}

#menu:hover path{
  fill: tomato;
}

#login {
  text-decoration: none;
  color: #213350;
  transition: color 0.3s;
}

#login:hover {
  color: tomato;
}

/*.angle-down {
  transform: rotate(180deg) 0.5s;
}

.angle-down:hover {
  color: tomato;
}*/



/* Page Home */

.EdT, .CaseEdT, .Actus, .CaseActus {
  width: 125%;
  margin-top: -1%;
}

.EdT, .CaseEdT {
  margin-left: -20%;
}

.EdT {
  height: auto;
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #213350;
  z-index: 0;
}

.CaseEdT{
  height: 40vw;
  border-radius: 2.5%;
  background-color: #f3f3f7;
  z-index: 0;
  overflow-y: scroll;
}

.Actus, .CaseActus {
  margin-left: 10%;
}

.Actus {
  height: auto;
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #213350;
  z-index: 0;
  margin-top: 10%;
}

.CaseActus {
  height: 17vw;
  border-radius: 1vw;
  background-color: #f3f3f7;
  z-index: 0; 
}



.CreateRecents, .CaseCreateRecents {
  margin-top: -1%;
  margin-left: 20%;
}

.OpenRecents, .CaseOpenRecents {
  margin-top: -1%;
  margin-left: 50%;
}

.CreateRecents, .CaseCreateRecents {
  height: auto;
}

.CaseCreateRecents, .CaseOpenRecents {
  width: 118.75%;
  height: 17vw;
}


.DocsRecents {
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #213350;
  z-index: 0;
}

.CaseDocsRecents {
  width: 40vw;
  height: 17vw;
  border-radius: 1vw;
  background-color: #f3f3f7;
  z-index: 0;
  margin-top: 20%;
}

/* Partie Emploi du temps */

table {
  border-spacing: 10px;
  text-align: center;
  border-collapse: separate;
  font-family: Arial;
}

td {
  width: 10%;
  font-weight: 800;
}

td:first-child {
  width: 2%;
}

th {
  font-weight: 800;
  border-top: 1vh solid transparent;
}

.card{
  height: 100%;
  text-align: center;
  background-color: #fff;
  padding: 0.55vh;
  border-radius: 6px;
}

/* Page User */

h3 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-left: 2%;
}

.User, .CaseUser {
  margin-left: 40%;
}

.User {
  height: auto;
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #213350;
  z-index: 0;
}

.textcenter {
  margin-left: 32.5%;
}

.center {
  text-align: center;
  margin-top: 5vh;
}

.CaseUser {
  width: 125%;
  margin-top: -1%;
  height: auto;
  border-radius: 1vw;
  background-color: #f3f3f7;
  z-index: 0;
}

.img-news {
  width: 70%;
  height: auto;
  margin-left: 15%;
  border: 10px solid #213350;
  border-radius: 20px;
}

.img-stdenis {
  width: 20%;
  height: auto;
  border-radius: 10px;
  margin-top: -10%;
  margin-left: 115%;
  margin-bottom: 10%;
}